<div>
  <h2 id="page-heading" data-cy="InterventionHeading">
    <span>WSD</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-intervention"
        [routerLink]="['/intervention/new']"
      >
        <fa-icon icon="add"></fa-icon>
        <span> WSD </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="interventions?.length === 0">
    <span>No WSD found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="interventions && interventions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span>Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="start">
            <div class="d-flex">
              <span>Start</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="finish">
            <div class="d-flex">
              <span>Finish</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="raison">
            <div class="d-flex">
              <span>Raison</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="unitNumber">
            <div class="d-flex">
              <span>Unit Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span>Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="creationDate">
            <div class="d-flex">
              <span>Creation Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let intervention of interventions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/intervention', intervention.id, 'view']">{{ intervention.id }}</a>
          </td>
          <td>{{ intervention.type }}</td>
          <td>{{ intervention.start | formatMediumDatetime }}</td>
          <td>{{ intervention.finish | formatMediumDatetime }}</td>
          <td>{{ intervention.raison }}</td>
          <td>{{ intervention.unitNumber }}</td>
          <td>{{ intervention.email }}</td>
          <td>{{ intervention.creationDate | formatMediumDate }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="button"
                style="background-color: #333"
                (click)="downloadPDF(intervention.id)"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <span class="d-none d-md-inline">PDF</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/intervention', intervention.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/intervention', intervention.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(intervention)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="interventions && interventions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
