<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="roomData">
      <h2 data-cy="roomDataDetailsHeading"><span>Room Data</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ roomData.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ roomData.name }}</span>
        </dd>
        <dt><span>Tier</span></dt>
        <dd>
          <div *ngIf="roomData.tier">
            <a [routerLink]="['/tier-data', roomData.tier.id, 'view']">{{ roomData.tier.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/room-data', roomData.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
